<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class='logo'>
            <img src="https://i.ytimg.com/vi/3mEmB7SzGBk/hqdefault.jpg" alt="logo">
        </div>
        <div class='menu'>
            <ul>
                <li><a href="{{url_for('index')}}">Главная</a></li>
                <li><a href="{{url_for('sign_up')}}">Регистрация</a></li>
                <li><a href="{{url_for('about')}}">О Нас</a></li>
                <li><a href="{{url_for('profile')}}">Профиль</a></li
            </ul>   
        </div>
    </header>
    {% block content %} {% endblock %}
</body>
</html>