{% extends "base.html" %}

{% block content %}
<h1>Введите свои данные: </h1>
<br/>
<form method="POST">
    {{form.hidden_tag()}}
    <h2>
        {{form.name.label}}
        {{form.name() }}
    </h2>
    <h3>
        {{form.email.label}}
        {{form.email() }}
        {% if form.email.errors %}
        {% for error in form.email.errors %}
            <li style="color: red; list-style: none;">{{error}}</li>
        {% endfor %}
        {% endif %}
    </h3>
    <h4>
        {{form.password.label}}
        {{form.password() }}
    </h4>
    {{form.submit()}}
</form>
{% endblock %}